#pbar {
    /* padding: 2; */
    margin: 1 4 0 4;
    /* background: rgb(196, 185, 185) 90%; */
    /* width: 100%; */
    /* text-align: center; */
    /* border-top: tall rgb(21, 21, 21);
    border-bottom: tall rgb(21, 21, 21); */
}

#content {
    padding: 2 6;
    margin: 1 4 2 4;
    background: white 90%;
    width: 100%;
    text-align: center;
    /* border-top: tall rgb(21, 21, 21);
    border-bottom: tall rgb(21, 21, 21); */
}

Footer {
    text-align: center;
}

#container{
    background: rgb(186, 200, 215);
}

.gray-card-border{
    border: hkey rgb(54, 61, 71);
}

.red-card-border{
    border: hkey rgb(220,38,38);
}

.orange-card-border{
    border: hkey rgb(220, 172, 38);
}

.green-card-border{
    border: hkey rgb(39, 152, 80);
}

.base-card-border{
    border: hkey rgb(230, 234, 240);
}